body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #605d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    width: 50%;
    background-color:grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    color:gray;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
